body {
  font-family: "Poppins";
}
.about {
  background-image: linear-gradient(black, #34495e);
}
.projects {
  background-image: linear-gradient(#34495e, black);
}
.certificates {
  background-image: linear-gradient(black, #34495e);
}
.contact {
  background-image: linear-gradient(#34495e, black);
}
.footer {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}
@media screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}

.navbar {
  background-color: black;
}
.navbar .nav-item .nav-link {
  position: relative;
}

.navbar .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  background-color: antiquewhite;
  height: 2px;
  animation: appear 0.4s linear;
}
.jumbotron {
  color: white;
  background-color: black !important;
  background-image: url("img/background.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-project {
  background-color: #34495e;
  color: beige;
}
.btn-project:hover {
  background-color: beige;
  color: #34495e;
  font-weight: normal;
  border-color: beige;
}
.contact {
  color: white;
}
.btn.btn-loading {
  background-color: black;
  border-color: wheat;
}
.contact .btn.btn-outline-success:hover {
  background-color: white;
  color: black !important;
}
.social .container .row.mb-5 {
  margin-left: 20%;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  color: beige;
}
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.actives,
.dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.slides img {
  transition: transform 0.4s;
}
.slides img:hover {
  transform: scale(1.15);
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
section {
  padding: 2rem;
}

@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .social .container .row.mb-5 {
    margin-left: 50%;
  }
}
