body {
  font-family: "Poppins";
  overflow-x: hidden;
}
.about {
  background-image: linear-gradient(black, #34495e);
}
.projects {
  background-image: linear-gradient(#34495e, black);
}
.certificates {
  background-image: linear-gradient(black, #34495e);
}
.contact {
  background-image: linear-gradient(#34495e, black);
}
.footer {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}
@media screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}

.navbar {
  background-color: black;
}
.navbar .nav-item .nav-link {
  position: relative;
}

.navbar .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  background-color: antiquewhite;
  height: 2px;
  animation: appear 0.4s linear;
}
.jumbotron {
  color: white;
  background-color: black !important;
  background-image: url("img/background.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-project {
  background-color: transparent;
  border-color: #34495e;
  color: #34495e;
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 black;
}
.btn-project:hover {
  box-shadow: inset 300px 0 0 0 black;
  color: blanchedalmond;
  border-color: blanchedalmond;
}

.btn-skills {
  background-color: var(--background-color);
  color: #222;
  font-weight: 550;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;

  --background-color: #e3e3e3;
  --border-size: 2px;
  --accent-color: blanchedalmond;
}
.btn-skills::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform 300ms ease-in-out;

  transform: scaleX(0);
}

.btn-skills:hover::before,
.btn-skills:focus::before {
  transform: scaleX(1);
}
.btn-skills:hover {
  color: beige;
}
.contact {
  color: white;
}
.btn.btn-loading {
  background-color: black;
  border-color: wheat;
}
.contact .btn.btn-outline-success:hover {
  background-color: white;
  color: black !important;
}
.social .container .row.mb-5 {
  margin-left: 20%;
}

.carousel-item img {
  transition: transform 0.4s;
}
.carousel-item img:hover {
  transform: scale(1.15);
}
.carousel-indicators {
  position: absolute;
  bottom: -50px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
section {
  padding: 2rem;
}

@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .social .container .row.mb-5 {
    margin-left: 50%;
  }
}
