body {
  font-family: "Poppins";
}
.about {
  background-image: linear-gradient(black, #9bc5c3);
}
.projects {
  background-image: linear-gradient(#9bc5c3, black);
}
.contact,
.footer {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}
@media screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}

.navbar {
  background-color: black;
}
.navbar .nav-item .nav-link {
  position: relative;
}

.navbar .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  background-color: antiquewhite;
  height: 2px;
  animation: appear 0.4s linear;
}
.jumbotron {
  color: white;
  background-color: black !important;
  background-image: url("img/background.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn.btn-outline-success {
  border-color: aquamarine;
  color: black;
}
.btn.btn-outline-success:hover {
  background-color: rgb(19, 18, 18);
  color: white;
  font-weight: lighter;
}
.contact {
  color: white;
}
.btn.btn-loading {
  background-color: black;
  border-color: wheat;
}
.contact .btn.btn-outline-success:hover {
  background-color: white;
  color: black !important;
}
.social .container .row.mb-5 {
  margin-left: 20%;
}
section {
  padding: 2rem;
}

@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .social .container .row.mb-5 {
    margin-left: 50%;
  }
}
